body{
    background:linear-gradient(180deg, #141e30 0%,#243b55 100% );
}


/* Header */


/* Footer */

footer{
    background-color: black;
}

/* index */

.presentation{
    text-align: center;
    color: aliceblue;
    padding-top: 2%;
}

.cardright{
    justify-content: right;
}

.tours{
    text-align: center;
    padding-top: 2%;
}

.tours h2{
    padding-bottom: 2%;
    color: aliceblue;
}