body{
    background:linear-gradient(90deg, #000428 0%,#004e92 100% );
}


/* Header */


/* Footer */

footer{
    background:linear-gradient(90deg, #000428 0%,#004e92 100% );
    text-align: center;
}



/* index */

.presentation{
    text-align: center;
    color: aliceblue;
    padding-top: 2%;
}

.cardright{
    justify-content: right;
}

.tours{
    text-align: center;
    padding-top: 2%;
}

.tours h2{
    padding-bottom: 2%;
    color: aliceblue;
}