<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <title>Wild Circus Accueil</title>
  </head>
  <body>
    <div th:replace="fragments/header :: header"></div>

    <!-- CAROUSEL -->
    <div class="carousel">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img th:src="@{/IMG/trapeze.png}" class="d-block w-100 h-20" alt="Nicolas le trapeziste">
              <div class="carousel-caption d-none d-md-block">
                <h5>Nicolas fait comme l'oiseau</h5>
                <p>Pirouette réalisé lors de notre passage à SCHWEIGHOUSE.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img th:src="@{/IMG/voltige.png}" class="d-block w-100 h-20" alt="Carole la voltige">
              <div class="carousel-caption d-none d-md-block">
                <h5>Carole fait ce qu'elle veut de son corps</h5>
                <p>Les chevaux d'ILLKIRCH GRAFFENSTADEN ne font qu'un avec Carole.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img th:src="@{/IMG/lion.png}" class="d-block w-100 h-20" alt="Anthony le dresseur de Lion">
              <div class="carousel-caption d-none d-md-block">
                <h5>Anthony dresse toute le monde</h5>
                <p>Anthony n'hésite pas une seule seconde avec ce tigre d'Alsace du sud.</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      <!-- Présentation -->
      <div class="presentation">
        <h2>Présentation</h2>

        <p>Le Wild Circus est né en 2019, l'ancienne école de développeur de reims, mené par Clément Bechtoille,
          se réoriente dans le monde du cirque alsacien.
          Pourquoi le cirque alsacien ?
          C'est après un séjour en alsace que Clément tomba amoureux de la région, la choucroute, les fleischnaka ou même les mauricettes,
          on poussé Clément à tout quitter en emportant dans son périple toute une équipe d'ancien développeur.
          Grâce aux talents de speaker de Clément et à la capacité de se réinventer de ses collaborateurs, voilà maintenant plusieurs années
          que le Wild Circus fait des Alsace World Tour.
        </p>
      </div>

      <hr/>

      <!-- Les Tours -->
      <div class="tours">
        <h2>Les incontournables du Wild Circus !</h2>

        <!--Card-->
        <div class="card mb-3 col-md-4 ml-auto" style="max-width: 650px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img th:src="@{/IMG/seb-bouffon.png}" class="card-img" alt="bouffon">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Sebastien le boute-en-train</h5>
                  <p class="card-text">C'est en Juin ou Juillet 2019 que Sébastien découvrit que le boundin blanc est complètement différent de la fameuse "saucisse blanche".
                    à partir de ce moment, rien ne va plus pour le petit sebastien qui décide alors de se remettre en question et d'obpter pour l'humour.
                    C'est en 2023 qu'il est élu mister choucroute du bal de Bantzenheim. C'est pour lui une concécration.</p>
                </div>
              </div>
            </div>
          </div>
          <!--Card-->
        <div class="card mb-3" style="max-width: 650px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img th:src="@{/IMG/lea-barbe.png}" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Léa la shemale à barbe</h5>
                  <p class="card-text">Après plusieurs moins au sein de la wild code school (futur Wild Circus), Léa craque et avoue tout :
                    "Oui bah si c'est ça je rase plus ma moustache". Depuis Léo éxibe fièrement une belle barbe.
                    Cette barbe lui vaudra le titre de championne de scupture de barbe 2026 catégorie feminin moins de 70ans.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!--Card-->
        <div class="card mb-3 col-md-4 ml-auto" style="max-width: 650px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img th:src="@{/IMG/dompteur.png}" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Les frères Dompteurs</h5>
                  <p class="card-text">Attention les yeux, voici les deux frères les plus flamboyant de la région Grand Est.
                    Ces deux frères ont du faire face à bien des épreuves pour en arriver là ou il sont actuellement.
                    En effet, Julien (Avec le chapeau), n'a pas eu que des jours facile, entre dépendances aux fast food et autres vis,
                    les frères Dompteurs ont du se battre pour arriver au sommet.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!--Card-->
        <div class="card mb-3" style="max-width: 650px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img th:src="@{/IMG/Trapeziste.png}" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Les trapeziste bien trapezé</h5>
                  <p class="card-text">Il y a quelques années Thomas et Romain étaient plus dans l'exercice cérébrale,
                   c'est sans compter la promo "Echo" qui fit tomber les deux anciens formateur dans des travers plus que douteux,
                   Protéine, Testostérone et Séroïde deviennent le quotidien des deux compères. Heureusement pour eux, le trapèze est venu à leurs secours.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 col-md-4 ml-auto" style="max-width: 650px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img th:src="@{/IMG/fufu.png}" class="card-img" alt="Maitre kebabier">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Furkan le Maitre Kebabier</h5>
                    <p class="card-text">Voilà bien longtemps que Furkan n'a pas touché au code.
                      Malgré une très belle proposition d'une entreprise luxembourgeoise (1400€ net), furkan plaque
                      tout du jour au lendemain, achète un food truck et suit la troupe partout ou elle va.
                      La légende raconte que la vache du paysan à Zillisheim à disparue le jour du départ de la troupe, mais il n'y a aucune preuve.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!--Card-->
          <div class="card mb-3" style="max-width: 650px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img th:src="@{/IMG/presentateurclement.png}" class="card-img" alt="présentateur">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Le Patron, le speacker, le show man</h5>
                    <p class="card-text">Comme dit dans l'histoire du Wild Circus, Clément après avoir fait un séjour en Alsace plaque tout.
                      Mais ce n'est pas tout, en plus de monter le Wild Circus, il investie l'intégralité de ses économies dans la marque
                      "Waikiki". L'histoire raconte qu'à ce moment la, sont entourage dit à l'unisson : <br/>"Clément, tu as craqué le slibard ?!".
                    </p>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <hr>

        
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>